

        <div layout="column" layout-align="center center">
            <md-content class="md-whiteframe-1dp">
                 
                        <h1 md-display-3>Login</h1>
                        <form name="loginform" ng-submit="console.log('login')" role="form"  novalidate autocomplete="off">
                            <md-input-container flex="">
                                <label>Username Or Email</label>
                                <input ng-model="user.UserOrEmail" required>

                            </md-input-container>
                            <md-input-container flex="">
                                <label>Password</label>
                                <input type="password" ng-model="user.password" required>
                            </md-input-container>

                            <div layout="column">
                                <md-button type="submit" class=" md-raised md-primary" flex-sm="100" ng-disabled="loginform.$invalid" >Login</md-button>
                                <md-button class=" md-primary" flex-sm="100" ui-sref="register.registration">Or Register</md-button>
                            </div>

                        </form>
                    </md-content>
                   
            </div>
       
