<div ng-repeat="user in users" layout="column" layout-align="center center">
 <h1 md-display-3 >Profile</h1>


 <md-input-container>
  <label>Username</label>
  <input ng-model="user.username">
 </md-input-container>
 <md-input-container>
  <label>Email</label>
  <input ng-model="user.email" type="email">
 </md-input-container>
 <md-input-container>
  <label>Arm</label>
  <input ng-model="user.measures.arm">
 </md-input-container>
 <md-input-container>
  <label>Torso</label>
  <input ng-model="user.measures.torso">
 </md-input-container>


</div>
